*{
	 padding: 0;
	 margin: 0;
	
	 font-weight: 900;
	 font-size: 16px;
	 font-family: Roboto, sans-serif;
	 text-align: center;
	 background: #f5f6f7;

}

.header{
	
		font-size: 18px;
	
		line-height: 40px;
	}
a {
	text-decoration: none;
	color: #16a085;
	display:inline-block;
	padding:30px

}
img{
	width: 100%;
}
h2 {
	color: #373737;
	font-size: 22px;
	line-height: 100px;
}
p { 
	color: #373737;
	line-height: 2;
	padding:15px 100px;
	text-indent: 1.5em;
}
.button{
	line-height: 20px;
	background-color:  #16a085;
	width: 192px;
	height: 51px;
	position: relative;
	left: 600px;
	margin-bottom: 60px;
	margin-top: 20px;



}
.get{
	color:  #ffffff;
	font-family: GothamRounded, sans-serif;
	font-size: 12px;
	font-weight: 700;
	position: relative;
	top: 10px;
	background-color:  #16a085;
	
	

}
button{
	background-color:  #16a085;
	border: 0;
	outline: 0;

}
.copyright{
	color: #373737;
	background-color: #ffffff;
	text-align: right;
	letter-spacing: 2px;
	padding:30px 120px;
	
	

}
